<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Anca Trandafir</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">

          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-movies']">Fetch movies</a>
          </li>

          <li *ngIf="(userLoggedIn != null) || (FBLoggedIn == true)" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/add']">Add movie</a>
          </li>

          <li *ngIf="userLoggedIn != null">
            <a (click)="Logout()">
              <h6>{{userLoggedIn.Username}}</h6>
              Logout
            </a>
          </li>

          <li *ngIf="FBLoggedIn == true">
            <a (click)="Logout()">
              <h6>{{socialUser.firstName}}</h6>
              Logout
            </a>
          </li>

        </ul>

        <ul >
          
        </ul>

      </div>
    </div>
  </nav>

  
</header>




