<h2 class="text-center">List of movies</h2>
<br>


<h4>Filter by date added</h4>
<br>
<form #form="ngForm" autocomplete="on" (submit)="onSubmit(form)">
  <p>From date:</p>
  <input name="from" [(ngModel)]="from">
  <br>
  <p>To date:</p>
  <input name="to" [(ngModel)]="to">
  <br>
  <button type="submit">Filter</button>
  <br>
</form>
<br>
<br>
<button (click)="refreshList()">Refresh list</button>
<br>
<br>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Date added</th>
      <th>Added by</th>
      <th>Number of comments</th>
      <th>Operations</th>
    </tr>
  </thead>

  <!-- iteram prin movieList; clickEvent populateForm(movie) pt update-->
  <tr *ngFor="let m of movieList">
    <!-- accesez proprieteate movieList din service -->
    <td (click)="populateForm(m)">{{m.Title}}</td>    <!--String interpolation; json e salvat cu litera mica-->
    <td (click)="populateForm(m)">{{m.Genre}}</td>
    <td (click)="populateForm(m)">{{m.YearOfRelease}}</td>
    <td (click)="populateForm(m)">{{m.Rating}}</td>
    <td (click)="populateForm(m)">{{m.DateAdded | date: 'yyyy-MM-dd'}}</td>  <!-- pipe format date-->
    <td (click)="populateForm(m)">{{m.NumberOfComments}}</td>
    <td> <a [routerLink]="['/details', m.Id]" routerLinkActive="active"> Details</a>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(m.id)"></i></td>
  </tr>

</table>

