<h2 class="text-center">Add a movie</h2>
<br>


<form [formGroup]="movieReactiveForm" [hidden]="success" autocomplete="on" (ngSubmit)="onSubmit(movieReactiveForm)">

  <input type="hidden" name="Id" [value]="service.formDataMovie.Id">


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-film" [class.green-icon]="Title.valid" [class.red-icon]="Title.invalid && Title.touched"></i>
        </div>
      </div>
      <input formControlName="Title" type="text" class="form-control" placeholder="Title" required maxlength="50" minlength="3">
      <div *ngIf="(Title.dirty || Title.touched) && Title.invalid" class="alert alert-danger">
        <div *ngIf="Title.errors.required">Title is required.</div>
        <div *ngIf="Title.errors.minlength">Title should have at least 3 characters.</div>
        <div *ngIf="Title.errors.maxlength">Title should have at most 50 characters.</div>
      </div>
    </div>
  </div><br>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-align-left"></i>
        </div>
        <textarea formControlName="Description" type="text" class="form-control" placeholder="Description" rows="5" cols="50" required></textarea>
        <div *ngIf="(Description.dirty || Description.touched) && Description.invalid" class="alert alert-danger">
          <div *ngIf="Description.errors.required">Description is required.</div>
        </div>
      </div>
    </div>
  </div><br>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-theater-masks"></i>
        </div>
      </div>
      <label for="Genre">Genre: </label>
      <select id="genre " formControlName="Genre" type="text" class="form-control" placeholder="Genre" required>
        <option value="Adventure">Adventure</option>
        <option value="Comedy">Comedy</option>
        <option value="Horror">Horror</option>
        <option value="SciFi">SciFi</option>
      </select>
      <div *ngIf="(Genre.dirty || Genre.touched) && Genre.invalid" class="alert alert-danger">
        <div *ngIf="Genre.errors.required">Genre is required.</div>
      </div>
    </div>
  </div><br>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-hourglass-half"></i>
        </div>
      </div>
      <input formControlName="Duration" type="number" placeholder="Duration" required>
      <div *ngIf="(Duration.dirty || Duration.touched) && Duration.invalid" class="alert alert-danger">
        <div *ngIf="Duration.errors.required">Duration is required.</div>
      </div>
    </div>
  </div><br>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-calendar-check"></i>
        </div>
      </div>
      <input formControlName="YearOfRelease" type="number" placeholder="Year of release" min="1900" max="2020" required>
      <div *ngIf="(YearOfRelease.dirty || YearOfRelease.touched) && YearOfRelease.invalid" class="alert alert-danger">
        <div *ngIf="YearOfRelease.errors.required">Year of release is required.</div>
        <div *ngIf="YearOfRelease.errors?.min">Year of release should be at least 1900.</div>
        <div *ngIf="YearOfRelease.errors?.max">Year of release should be at most the current year.</div>
      </div>
    </div>
  </div> <br>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-tie"></i>
        </div>
      </div>
      <input formControlName="Director" type="text" class="form-control" placeholder="Director" required>
      <div *ngIf="(Director.dirty || Director.touched) && Director.invalid" class="alert alert-danger">
        <div *ngIf="Director.errors.required">Director is required.</div>
      </div>
    </div>
  </div><br>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-calendar-plus"></i>
        </div>
      </div>
      <label for="DateAdded">Date added: </label>
      <input formControlName="DateAdded" type="date" placeholder="yyyy-MM-dd" required>
      <div *ngIf="(DateAdded.dirty || DateAdded.touched) && DateAdded.invalid" class="alert alert-danger">
        <div *ngIf="DateAdded.errors.required">Date added is required.</div>
      </div>
    </div>
  </div>
  <br>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-star"></i>
        </div>
      </div>
      <label for="Rating">Rating: </label>
      <input formControlName="Rating" type="number" class="form-control" min="0" max="10" required>
      <div *ngIf="(Rating.dirty || Rating.touched) && Rating.invalid" class="alert alert-danger">
        <div *ngIf="Rating.errors.required">Rating is required.</div>
      </div>
    </div>
  </div><br>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-check"></i>
        </div>
      </div>
      <label for="Watched">Watched:</label>
      <input formControlName="Watched" type="radio" value="true">
      <label for="Watched">Never watched:</label>
      <input formControlName="Watched" type="radio" value="false">
      <div *ngIf="(Watched.dirty || Watched.touched) && Watched.invalid" class="alert alert-danger">
        <div *ngIf="Watched.errors.required">Please select your option.</div>
      </div>
    </div>
  </div><br>



  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="formMovie.invalid">
      <i class="fas fa-database"></i>  Add movie
    </button>
    <button class="btn btn-danger btn-lg btn-block" (click)="movieReactiveForm.reset()">Reset form</button>
  </div>


</form>


