<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>


<form #loginForm="ngForm" class="col s12 white"
      (ngSubmit)="onSubmit(Username.value, Password.value)">

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="text" #Username ngModel name="Username" placeholder="Username" required>
     <small [hidden]="username.valid || (username.pristine && !submitted)" class="text-danger">
                            Please enter a valid username.</small>
	</div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input type="password" #Password ngModel name="Password" placeholder="Password" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    </div>
  </div>

</form>


